
/* Format the body for the whole document */
body {
	font-family: 'Droid Sans Mono', arial;	
}

/* Format h1 headers */
h1 {
	font-size: 100px;
	font-style: bold;
	margin: 5px;
	padding: 150px;
	font-family: 'Homemade Apple', arial;
	text-align: center;
}

/* Format h2 headers */
h2 {
	font-size: 40px;
	font-style: bold;
	margin: 5px;
	padding: 5px;
	font-family: 'Homemade Apple', arial;
}

/* Format h3 headers */
h3 {
	font-size: 20px;
	font-style: bold;
	margin: 5px;
	padding: 5px;
	font-family: 'Droid Sans Mono', arial;
	color: black;
}

/* Format paragraphs and lists */
p, li {
	line-height: 26px;
	margin: 5px;
	padding: 5px;
}

/* Turn the links dark blue */
a {
	color: #210B61;
}

/* Make the links purple when I put my mouse over it */
a:hover {
	color: purple;
}

/* Make the content of the page "sit on top of" the background */
div.container{
	background-color: white;
	width: 960px;
	margin: 20px auto;
	padding: 20px;
	opacity: 0.84;
}

/* Make it so you can see the footer and center it */
div#footer {
	color: white;
	margin: 20px auto;
	text-align: center;
}