/* Turn the links blue */
a {
  color: blue;
}

/* Make the band name 36px font and bold */
h1 {
  font-size: 36px; 
  font-style: bold;
  border: 1px solid black;
  width: 400px;
  margin: 10px;
  padding: 10px;
  font-family: 'Droid Sans Mono', arial;
}

/* Make the section headers 26px font */
h2 {
  font-size: 26px;
  font-family: 'Homemade Apple', arial;
}

/* Make the sub-headers black and 20px font */
h3 {
  color: black;
  font-size: 20px;
}

/* Put a border around the photo, set it to the right */
img {
  border: 1px solid white;
  border-width: 5px;
  border-radius: 20px;
  box-shadow: 10px 10px 5px grey;
  float: right; 
}

/* Set the font family for the whole document, and add a background image */
body {
  font-family: 'Droid Sans Mono', arial;
  background-image: url(guenther_1.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

/* Give the paragraphs and lists a 26px line height */
p, li {
  line-height: 26px;
}

/* Make the links purple when I put my mouse over it */
a:hover {
  color: purple;
}

/* Make the content of the page "sit on top of" the background */
div#wrapper{
  background-color: white;
  width: 960px;
  margin: 20px auto;
  padding: 20px;
  opacity: 0.84;
}
  
/* Make it so you can see the footer and center it */
div#footer {
  color: white;
  margin: 20px auto;
  text-align: center;
}

/* Add a header to disclaim that website is under construction */
div#disclaimer {
  color: red;
  margin: 20px auto;
  text-align: left;
}